:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-teal-lightest: #ebf1f7;
  --color-teal-light: #c3cdd9;
  --color-teal: #465668;
  --color-teal-dark: #35495e;
  --color-teal-darkest: #2b3b4c;

  --color-mint-lightest: #f5fffd;
  --color-mint-light: #cbf7f6;
  --color-mint: #09c0b0;
  --color-mint-dark: #00a698;
  --color-mint-darkest: #208078;

  --color-violet-lightest: #f1f0ff;
  --color-violet-light: #d3d1fe;
  --color-violet: #928cff;
  --color-violet-dark: #6961ff;
  --color-violet-darkest: #130abf;

  --color-ruby-lightest: #ffe3d9;
  --color-ruby-light: #ffa98c;
  --color-ruby: #ff7040;
  --color-ruby-dark: #ff5319;
  --color-ruby-darkest: #c23000;

  --color-gold-lightest: #ffeecc;
  --color-gold-light: #ffda8f;
  --color-gold: #ffcc66;
  --color-gold-dark: #ed9e00;
  --color-gold-darkest: #8f3b00;

  --color-aqua-lightest: #e6f2ff;
  --color-aqua-light: #cce4ff;
  --color-aqua: #99c9ff;
  --color-aqua-dark: #0c77f3;
  --color-aqua-darkest: #004da6;

  --color-neutral-lightest: #fbfbfb;
  --color-neutral-light: #f7f7f7;
  --color-neutral: #e3e4e6;
  --color-neutral-dark: #bdbebf;
  --color-neutral-darkest: #919599;
}
